### MicrosoftOffice ###
*.tmp

# Word temporary
~$*.doc*

# Word office
*.docx

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*

# file plane
*.csv
*.txt

# file zip
*.zip
*.rar
*.7z

# Directorios
/CICLO2/SESION_01_JAVA/EjerciciosSesion01/nbproject/private/
/CICLO2/SESION_01_JAVA/EjerciciosSesion01/build/
/CICLO2/SESION_01_JAVA/Sesion2Ejercicios/nbproject/private/
/CICLO2/SESION_01_JAVA/Sesion2Ejercicios/build/
/CICLO2/SESION_01_JAVA/Sesion2CP/nbproject/private/
/CICLO2/SESION_01_JAVA/Sesion2CP/build/
/CICLO2/SESION_01_JAVA/Sesion3Clases/nbproject/private/
/CICLO2/SESION_01_JAVA/Sesion3Clases/build/

# video
*.mp4

/CICLO2/SESION_01_JAVA/Reto1/nbproject/private/
/CICLO2/SESION_01_JAVA/Reto1/build/
/CICLO2/SESION_01_JAVA/Sesion3CP1/nbproject/private/
/CICLO2/SESION_01_JAVA/Sesion3CP1/build/
/CICLO2/SESION_01_JAVA/Sesion4CP1/nbproject/private/
/CICLO2/SESION_01_JAVA/Sesion5CP1/nbproject/private/
/CICLO2/SESION_01_JAVA/Sesion5EjemploStatic/nbproject/private/
/CICLO2/SESION_01_JAVA/Sesion6EjemploCastFinal/nbproject/private/
