### MicrosoftOffice ###
*.tmp

# Word temporary
~$*.doc*

# Word office
*.docx

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*

# file plane
*.csv
*.txt

# file zip
*.zip
*.rar
*.7z
/CICLO2/SESION_01_JAVA/EjerciciosSesion01/nbproject/private/
/CICLO2/SESION_01_JAVA/EjerciciosSesion01/build/

# video
*.mp4
/CICLO2/SESION_01_JAVA/Sesion2Ejercicios/nbproject/private/
/CICLO2/SESION_01_JAVA/Sesion2Ejercicios/build/
/CICLO2/SESION_01_JAVA/Sesion2CP/nbproject/private/
/CICLO2/SESION_01_JAVA/Sesion2CP/build/
